/* Work Sans font from google. */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Shared CSS Styles */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.btn-primary {
    width: 11.25rem;
    height: 4rem;
    border: none;
    border-radius: 0.5rem;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* Header Part */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 3rem 10rem;
    margin-bottom: 5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #131313;
    font-size: 2.3rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-weight: 500;
    line-height: 1.5rem;
}

.banner {
    text-align: center;
}

.banner h1 {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding-top: 4rem;
}

.banner p {
    color: #727272;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2rem 0;
}

.banner img {
    width: 100%;
    height: auto;
    padding-top: 3rem;
}

/* Team Features Part-1 */

.container-1 {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    margin-bottom: 5.5rem;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.team-features h1 {
    padding-bottom: 1.5rem;
}

.team-features h1 .q-list {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.team-features h1 .of-our {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.team-features h1 .features {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.team-features p {
    color: #727272;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

/* Team Features Part-2 */





/*Som Facts Part  */

.facts-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 15rem;
    margin-bottom: 1.5rem;
}

.facts-description {
    color: #727272;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 15rem;
    margin-bottom: 5rem;
}

.all-facts {
    display: flex;
    gap: 3rem;
    padding: 0 6rem;
    margin-bottom: 3rem;
}

.fact-card {
    border: 1px solid #FF900E;
    border-radius: 0.5rem;
    text-align: center;
    align-items: center;
    padding: 2.5rem 1.5rem;
}

.fact-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.fact-card-details {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}



/* Responsive Layout */

/* Mobile Devices */

@media screen and (max-width:576px) {

    /* Making Responsive Header Part */

    header {
        padding: 1rem 1rem;
    }

    nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .banner h1 {
        font-size: 2.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
    }

    .banner p {
        font-size: 1rem;
        padding-top: 0rem;
        line-height: normal;
    }

    #btn-explore {
        height: 2.5rem;
        font-size: 1rem;
        margin: 0rem 0rem;
    }

    .banner img {
        padding-top: 2rem;
    }

    /* Making responsive Team features Part */

    .container-1 {
        flex-direction: column;
        padding: 2rem;
    }

    .team-images {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:576.1px) and (max-width:960px) {
    header {
        padding: 1rem;
    }

    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .banner h1 {
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
    }

    .banner p {
        font-size: 1rem;
        padding-top: 0rem;
        line-height: normal;
    }

    #btn-explore {
        height: 3rem;
        font-size: 1rem;
        margin: 0rem 0rem;
    }

    .banner img {
        width: 100%;
        height: 25rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* Making responsive Team features part */

    .container-1 {
        flex-direction: column;
        padding-bottom: 2rem;
    }
}